<label for="open" class="sidebar__overlay"></label>
<div class="sidebar__mobile">
    <ul class="content__sidebarList">
        <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="/QuanLyTaiKhoan/QuanLyTaiKhoan.ejs" class="content__sidebarLink">Quản lý tài khoản</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyTaiKhoan/ThemTaiKhoan.ejs" class="content__sidebarLink">Thêm tài khoản</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyTaiKhoan/SuaTaiKhoan.ejs" class="content__sidebarLink">Sửa tài khoản</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyTaiKhoan/XoaTaiKhoan.ejs" class="content__sidebarLink">Xóa tài khoản</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyTaiKhoan/TimTaiKhoan.ejs" class="content__sidebarLink">Tìm tài khoản</a></li>
    </ul>
</div>