<div class="col l-2 m-0 c-0 sidebar">
    <ul class="content__sidebarList">
        <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="/QuanLyNhanVien/QuanLyNhanVien.ejs" class="content__sidebarLink">Quản lý nhân viên</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyNhanVien/ThemNhanVien.ejs" class="content__sidebarLink">Thêm nhân viên</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyNhanVien/SuaNhanVien.ejs" class="content__sidebarLink">Sửa nhân viên</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyNhanVien/XoaNhanVien.ejs" class="content__sidebarLink">Xóa nhân viên</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyNhanVien/TimNhanVien.ejs" class="content__sidebarLink">Tìm nhân viên</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyNhanVien/ThongKeNhanVien.ejs" class="content__sidebarLink">Thống kê nhân viên</a></li>
    </ul>
</div>