<div class="col l-2 m-0 c-0 sidebar">
    <ul class="content__sidebarList">
        <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="QuanLyNhanVien" class="content__sidebarLink">Quản lý nhân viên</a></li>
        <li class="content__sidebarItem"><a href="QuanLyLuong" class="content__sidebarLink">Quản lý lương</a></li>
        <li class="content__sidebarItem"><a href="QuanLyTaiKhoan" class="content__sidebarLink">Quản lý tài khoản</a></li>
    </ul>
</div>