<div class="col l-2 m-0 c-0 sidebar">
    <ul class="content__sidebarList">
        <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="/QuanLyLuong/QuanLyLuong.ejs" class="content__sidebarLink">Quản lý lương</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyLuong/SuaLuong.ejs" class="content__sidebarLink">Sửa lương</a></li>
        <li class="content__sidebarItem"><a href="/QuanLyLuong/TimLuong.ejs" class="content__sidebarLink">Tìm lương</a></li>
    </ul>
</div>