<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../Assets/img/Poseidon Of Sea Logo.png"/>
    <link rel="stylesheet" href="../../Assets/css/preset.css">
    <link rel="stylesheet" href="../../Assets/css/base.css">
    <link rel="stylesheet" href="../../Assets/css/grid.css">
    <link rel="stylesheet" href="../../Assets/css/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../Assets/js/togglePassword.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Thêm tài khoản</title>
</head>
<body>
    <div id="main">

        <!-- header -->
        <div class="header">
            <div class="header__logo">
                <a href="../Home.html"> <img src="../../Assets/img/Poseidon Of Sea Logo.png" alt="Logo công ty" class="header__logoImg" ></a>
            </div>
            <div class="header__navbar">
                <ul class="header__navbarList">
                    <li class="header__navbarItem"><a id="chucnang" class="header__navbarItemLink" href="">Chức năng &nbsp<i class="ti-angle-down"></i> </a>
                        <i class="ti-angle-down"></i>
                        <ul class="header__subnav">
                          <li class="header__subnavListItem">
                            <a class="header__subnavLink" href="../QuanLyNhanVien/QuanLyNhanVien.html">Quản lý nhân viên</a>
                            <ul class="header__subSubnav">
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyNhanVien/ThemNhanVien.html">Thêm nhân viên</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyNhanVien/SuaNhanVien.html">Sửa nhân viên</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyNhanVien/XoaNhanVien.html">Xóa nhân viên</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyNhanVien/TimNhanVien.html">Tìm kiếm nhân viên</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyNhanVien/ThongKeNhanVien.html">Thống kê nhân viên</a></li>
                            </ul>
                          </li>
                          <li class="header__subnavListItem">
                            <a class="header__subnavLink" href="../QuanLyLuong/QuanLyLuong.html">Quản lý lương</a>
                            <ul class="header__subSubnav">
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyLuong/SuaLuong.html">Sửa lương</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyLuong/TimLuong.html">Tìm lương</a></li>
                            </ul>
                          </li>
                          <li class="header__subnavListItem">
                            <a class="header__subnavLink" href="../QuanLyTaiKhoan/QuanLyTaiKhoan.html">Quản lý tài khoản</a>
                            <ul class="header__subSubnav">
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyTaiKhoan/ThemTaiKhoan.html">Thêm tài khoản</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyTaiKhoan/SuaTaiKhoan.html">Sửa tài khoản</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyTaiKhoan/XoaTaiKhoan.html">Xóa tài khoản</a></li>
                              <li class="header__subSubnavListItem"><a class="header__subSubnavLink" href="../QuanLyTaiKhoan/TimTaiKhoan.html">Tìm tài khoản</a></li>
                            </ul>
                          </li>
                        </ul></li>
                    <li class="header__navbarItem"><a href="../Help.html" class="header__navbarItemLink">Hỗ trợ</a></li>
                    <li class="header__navbarItem"><a href="../Home.html" class="header__navbarItemLink">Trang chủ</a></li>
                    <li class="header__navbarItem"><a href="../Profile.html" class="header__navbarItemLink"><img src="../../Assets/img/Poseidon Of Sea Logo.png" alt="avt nhân viên" class="header__navbarAvt"></a></li>
                </ul>
            </div>
        </div>

        <!-- container -->
        <div class="container">
            <div class="grid wide">
                <div class="wide row">
                    <div class="col l-2 m-0 c-0 sidebar">
                        <ul class="content__sidebarList">
                            <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="QuanLyTaiKhoan.html" class="content__sidebarLink">Quản lý tài khoản</a></li>
                            <li class="content__sidebarItem"><a href="ThemTaiKhoan.html" class="content__sidebarLink">Thêm tài khoản</a></li>
                            <li class="content__sidebarItem"><a href="SuaTaiKhoan.html" class="content__sidebarLink">Sửa tài khoản</a></li>
                            <li class="content__sidebarItem"><a href="XoaTaiKhoan.html" class="content__sidebarLink">Xóa tài khoản</a></li>
                            <li class="content__sidebarItem"><a href="TimTaiKhoan.html" class="content__sidebarLink">Tìm tài khoản</a></li>
                        </ul>
                    </div>
                    <div class="col l-10 m-12 c-12 content">
                        <h1>Thêm tài khoản</h1>
                        <div class="content__main">
                          <form id="AddUForm" class="content__Form" action="/addU" method="post">
                              <div class="content__FormComponent" id="content__FormComponent--CANDEM">
                                  <label class="content__FormTitle" for="MaNhanVien">Nhập mã nhân viên: </label>
                                  <input class="content__FormInput" id="MaNhanVien" type="text"
                                      placeholder="VD: MNV000001" name="TenNhanVien">
                              </div>
                              <div class="content__FormComponent">
                                  <label class="content__FormTitle" for="password">Nhập mật khẩu: </label>
                                  <input class="content__FormInput" id="password" type="password"
                                      placeholder="VD: hunghaha" name="password">
                                      <input type="checkbox" style="margin: 10px;" id="showPassword" onclick="togglePassword()">
                              </div>
                              <div class="content__FormComponent">
                                  <label class="content__FormTitle" for="re-password">Nhập lại mật khẩu: </label>
                                  <input class="content__FormInput" id="re-password" type="password"
                                      placeholder="VD: hunghaha" name="re-password">
                                      <input type="checkbox" style="margin: 10px;" id="showRePassword" onclick="toggleRePassword()">
                              </div>  
                              <div class="content__FormComponent">
                                <label class="content__FormTitle">Chọn quyền tài khoản: </label>
                                <div class="content__FormSubContainer">
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="GiamDoc" type="radio" value="Giám đốc"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="GiamDoc">Giám đốc</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="PhoGiamDoc" type="radio" value="Phó giám đốc"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="PhoGiamDoc">Phó giám đốc</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="TruongPhong" type="radio" value="Trưởng phòng"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="TruongPhong">Trưởng phòng</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="PhoPhong" type="radio" value="Phó phòng"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="PhoPhong">Phó phòng</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="TruongPhongNhanSu" type="radio" value="Trưởng phòng nhân sự"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="TruongPhongNhanSu">Trưởng phòng nhân sự</label>
                                  </div>  
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="PhoPhongNhanSu" type="radio" value="Phó phòng nhân sự"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="PhoPhongNhanSu">Phó phòng nhân sự</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="NhanVienPhongNhanSu" type="radio" value="Nhân viên phòng nhân sự"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="NhanVienPhongNhanSu">Nhân viên phòng nhân sự</label>
                                  </div>
                                  <div class="content__FormSubContainerItem">
                                    <input class="content__FormRadioBtn" id="NhanVien" type="radio" value="Nhân viên"
                                    name="gioitinh">
                                    <label class="content__FormSubTitle" for="NhanVien">Nhân viên</label>
                                  </div>  
                                </div>
                            </div>                            
                              <input class="content__FormBtn" type="submit" value="Xác nhận">
                          </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">
            
        </div>

    </div>   
</body>
</html>