.header{
    background-color: var(--xanh-dam);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 20;
}

.header__logoImg{
    height: 50px;
    width: 50px;
}

.header__navbarList{
    list-style: none;
    display: flex;
    height: 50px;
}

.header__navbarItem{
    margin: 0 12px;
    display: flex;
    position: relative;
}

.header__navbarItemLink{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 50px;
}

.header__navbarAvt{
    height: 50px;
    width: 50px;
}

/* #chucnang {
    width: 13rem;
} */


.header__link:hover{
    background-color: #3b3b3b;
    color: var(--xanh-rat-nhat);

}


.header__subnav
{
    width: 15rem;
    position: absolute;
    top: 5rem;
    left: 0rem;
    background-color: var(--xanh-rat-nhat);
    width: 13rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.5);
    display: none;
    list-style: none;
}

.header__subnavLink {
    color: var(--chu);
    text-decoration: none;
    font-size: 1.4rem;
    position: absolute;
    width: 13rem;
    left: 0rem;
    padding: 0rem 1rem;
    line-height: 50px;
}

.header__subnavLink:hover{
    background-color: #3b3b3b;
    color: var(--xanh-rat-nhat);
}

.header__navbarItem:hover .header__subnav{
    display: block;
}

.header__subnavListItem{
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    height: 4.5rem;
    display: flex;
    position: relative;
}

.header__subSubnav
{
    top:0;
    left: 13rem;
    background-color: var(--xanh-rat-nhat);
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 15px rgba(0,0,0, 0.5);
    width: 20rem;
    padding: 0px;
    display: none;  
}

.header__subSubnav > li{
    line-height: 4rem;
}


.header__subSubnavLink{
    padding: 0 1rem;
    text-align: left;
    width: 20rem;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--chu);
}

.header__subnavListItem:hover .header__subSubnav{
    display: block;
}
.header__subSubnavListItem{
    line-height: 4rem;
}
.header__subSubnavLink:hover{
    background-color: #3b3b3b;
    color: var(--xanh-rat-nhat);
}

.header__navleft > li:hover> a{
    background-color: #3b3b3b;
    color: var(--xanh-rat-nhat);
}

.header__subnav > li:hover> a{
    background-color: #3b3b3b;
    color: var(--xanh-rat-nhat);
}

.container {
    background-color: var(--xam);
    height: 850px;
}

.sidebar {
    background-color: var(--xanh-rat-nhat);
    height: 850px;
}

.content__sidebarList{
    list-style: none;
    font-size: 2rem;
}

.content__sidebarItem{
    line-height: 3rem;
    margin: 1rem 0;
}

#content__sidebarItem_CANDEM{
    margin-top: 7rem ;
}

.content__sidebarLink{
    text-decoration: none;
    color: var(--chu);
    font-weight: 500;
    line-height: 4rem;
    display: block;
}

.content {
    margin-top: 50px;
    height: 800px;
}

.content > h1{
    margin-bottom: 15px ;
}

.content__main{
    height: 720px;
    background-color: var(--trang);
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3), -3px -3px 10px rgba(0, 0, 0, 0.2);
}

.content__Form{
    display: flex;
    flex-direction: column;
    height: 700px;
    margin: auto;
    overflow-y: auto;
    margin: 2rem;
}

.content__FormComponent{
    width: 70%;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
}

#content__FormComponent--CANDEM{
    padding-top: 15px;
}

.content__FormTitle{
    width: 200px;
    margin: 5px 0px;
    font-size: 1.6rem; 
    line-height: 2rem;
    display: inline-block;
}

.content__FormSubTitle{
    font-size: 1.6rem;
    margin-right: 15px; 
    display: inline-block;
}

.content__FormSubContainer{
    width: 400px;
    line-height: 2rem;
}

.content__FormRadioBtn{
    margin-right: 25px; 
}

.content__FormInput{
    width: 400px;
    line-height: 2rem;
    font-size: 1.6rem;
    padding-left: 5px;
}

.content__FormBtn{
    align-self: flex-end;
    cursor: pointer;
    background-color: var(--xanh-dam);
    color: var(--trang);
    border: none;
    width: 100px;
    height: 40px;
    font-size: 1.6rem;
    border-radius: 5px;
}

.content__SearchMethod{
    font-size: 1.6rem;
    padding: 15px 0px 0px 15px;
}

.content__SearchMethodCBB{
    width: 150px;
}

.content__SearchBar{
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}

.content__SearchBarLabel{
    font-size: 1.6rem;
    line-height: 3rem;
}

.content__SearchBarInput{
    flex: 1;
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 0 15px;
    padding-left: 15px;
    border-radius: 5px;
}

.content__SearchBarBtn{
    line-height: 3rem;
    width: 100px;
    border: none;
    background-color: var(--xanh-dam);
    color: var(--trang);
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .2s ease;
}


.content__MiniTableArea{
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid ;
}

.content__TableSort{
    width: 150px;
    font-size: 1.4rem;
    margin: 0 0 15px 0;
    align-self: flex-end;
}

.content__MiniTable{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    border-collapse: collapse;
    height: 200px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.2rem;
}

.content__TableTitle{
    background-color: var(--xanh-rat-nhat);
    border: 1px solid var(--den);
}

.content__InfomationDetail{
    display: flex;
    flex-direction: column;
    margin: 35px;
}

.content__InfomationLabel{
    width: 200px;
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.footer {
    height: 150px;
    background-color: var(--vang);
}