.searchBar{
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    padding: 10px 20px;
    flex-wrap: wrap-reverse;
    border-bottom: 2px solid black;
}

.searchBar__input{
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    width: 400px;
}

.searchBar__btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 10px 28px;
    border-radius: 20px;
    transition: opacity .2s ease;
}

.searchBar__btn, .searchBar__input, #searchBar__select{
    margin: 10px 10px;
}

.searchBar__btn:hover{
    background-color: black;
    color: #fff;
}

table{
    position: relative;
    width: 98%;
    font-size: 1.4em;
    font-family: sans-serif;
    margin: 10px;
}

table, td, th {
    border: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 6px 4px;
}

th {
    text-align: left;
}

tr:hover{
    background-color: #e8ebed;
}

.Sort{
    display: flex;
    justify-content: flex-end;
    margin: 10px 21px 10px 10px;
    height: 5%;
}

#Sort__select{
    font-size: 1.4em;
    font-family: sans-serif;
    border-radius: 20px;
}

#Sort__select:hover,#searchBar__select:hover{
    cursor: pointer;
}
