.searchBar, .subSearchBar{
    --height: 66px;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    height: var(--height);
    padding: 0 28px;
    justify-content: flex-start;
}

.search{
    border: 2px solid #e8e8e8;
    border-radius: 20px;
    height: 40px;
    padding: 0 16px 0 8px;
    transition: border-color .2s ease-in-out;
    margin: 0 20px;
    width: 40%;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 12px 38px;
    border-radius: 20px;
    transition: opacity .2s ease;
}

.btn:hover{
    background-color: black;
    color: #fff;
}

table{
    margin: 10px;
    width: 98%;
    font-size: 1.4rem;
    font-family: sans-serif;
}

table, td, th {
    border: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 6px 4px;
}

th {
    text-align: left;
}

tr:hover{
    background-color: #e8ebed;
}

.subSearchBar{
    border-bottom: 2px solid black;
}

.Sort{
    display: flex;
    justify-content: flex-end;
    margin: 10px 21px 10px 10px;
    height: 5%;
}

#sort-select{
    font-size: 1.4rem;
    font-family: sans-serif;
    border-radius: 20px;
}