<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/img/Poseidon Of Sea Logo.png"/>
    <link rel="stylesheet" href="/css/preset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/sualuong.css">
    <link rel="preconnect" href="/https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Sửa thông tin lương nhân viên</title>
</head>
<body>
    <div id="main">
      <%- include('../header.ejs')%>
      <!-- container -->
        <div class="container">
            <div class="grid wide">
                <div class="wide row">
                  <%- include('../sidebarLuong.ejs')%>
                  <%- include('../sidebarMobileLuong.ejs')%>
                    <div class="col l-10 m-12 c-12 content">
                        <h1>Sửa thông tin lương nhân viên</h1>
                        <div class="content__main">
                          <div class="content__Search">
                            <div class="content__SearchMethod">
                              <select name="lang" class="content__SearchMethodCBB">
                                <option value="">--Tìm kiếm theo--</option>
                                <option value="name">Họ và tên</option>
                                <option value="cccd">CCCD</option>
                                <option value="maNV">Mã nhân viên</option>
                              </select>
                            </div>
                            <div class="content__SearchBar">
                              <label for="content__SearchBarInput" class="content__SearchBarLabel">Nhập thông tin: </label>
                              <input class="content__SearchBarInput" id="content__SearchBarInput" spellcheck="false"
                                placeholder="VD: Nguyen A, MNV000001">
                              <button class="content__SearchBarBtn">Tìm Kiếm</button>
                            </div>
                          </div>
                          <div class="content__MiniTableArea">
                            <select name="lang" class="content__TableSort">
                              <option value="">--Sắp xếp theo--</option>
                              <option value="maNV">Mã lương</option>
                              <option value="maNV">Mã nhân viên</option>
                              <option value="name">Họ và tên</option>
                              <option value="Thời gian">Thời gian</option>
                              <option value="Mức lương cơ bản">Mức lương cơ bản</option>
                              <option value="cccd">CCCD</option>
                            </select>
                            <table class="content__MiniTable">
                              <thead>
                                <tr class="content__TableTitle">
                                  <th class="content__TableTitle"></th>
                                  <th class="content__TableTitle">Mã lương</th>
                                  <th class="content__TableTitle">Mã nhân viên</th>
                                  <th class="content__TableTitle">Họ và tên</th>
                                  <th class="content__TableTitle">CCCD</th>
                                  <th class="content__TableTitle">Thời gian</th>
                                  <th class="content__TableTitle">Lương cơ bản</th>
                                  <th class="content__TableTitle">Thưởng</th>
                                  <th class="content__TableTitle">Phạt</th>
                                </tr>
                              </thead>
                              <tbody>
            
                              </tbody>
                            </table>
                          </div>
                          <form id="AddUForm" class="content__Form" action="/addU" method="post" >
                            <div class="content__FormComponent">
                              <label for="" class="content__FormTitle">Mã nhân viên:</label>                            
                            </div>
                            <div class="content__FormComponent">
                              <label for="" class="content__FormTitle">Tên nhân viên:</label>                            
                            </div>
                            <div class="content__FormComponent">
                              <label for="" class="content__FormTitle">Căn cước công dân:</label>                            
                            </div>
                            <div class="content__FormComponent" >
                              <label for="LuongCoBan" class="content__FormTitle">Lương cơ bản:</label>
                              <input class="content__FormInput" id="LuongCoBan" type="text" placeholder="VD: 3000000"
                                name="TenNhanVien">
                            </div>                        
                            <div class="content__FormComponent">
                              <label for="Thuong" class="content__FormTitle">Thưởng:</label>
                              <input class="content__FormInput" id="Thuong" type="text"
                                placeholder="VD: 1000000" name="DiaChi">
                            </div>                          
                            <div class="content__FormComponent">
                              <label for="Phat" class="content__FormTitle">Phạt:</label>
                              <input class="content__FormInput" id="Phat" type="text" placeholder="VD: 100000"
                                name="SoDienThoai">
                            </div>
                            <input class="col l-o-10 m-o-10 c-o-5 content__FormBtn" type="submit" value="Xác nhận">
                          </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../footer.ejs')%>
    </div>   
</body>
</html>