<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="../../Assets/img/Poseidon Of Sea Logo.png" />
  <link rel="stylesheet" href="../../Assets/css/preset.css">
  <link rel="stylesheet" href="../../Assets/css/base.css">
  <link rel="stylesheet" href="../../Assets/css/grid.css">
  <link rel="stylesheet" href="../../Assets/css/general.css">
  <link rel="stylesheet" href="../../Assets/css/sua.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <title>Sửa thông tin nhân viên</title>
</head>

<body>
  <div id="main">

    <!-- header -->
    <div class="header">
      <div class="header__logo">
        <a href="../Home.html"> <img src="../../Assets/img/Poseidon Of Sea Logo.png" alt="Logo công ty"
            class="header__logoImg"></a>
      </div>
      <div class="header__navbar">
        <ul class="header__navbarList">
          <li class="header__navbarItem"><a id="chucnang" class="header__navbarItemLink" href="">Chức năng &nbsp<i
                class="ti-angle-down"></i> </a>
            <i class="ti-angle-down"></i>
            <ul class="header__subnav">
              <li class="header__subnavListItem">
                <a class="header__subnavLink" href="../QuanLyNhanVien/QuanLyNhanVien.html">Quản lý nhân viên</a>
                <ul class="header__subSubnav">
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyNhanVien/ThemNhanVien.html">Thêm nhân viên</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyNhanVien/SuaNhanVien.html">Sửa nhân viên</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyNhanVien/XoaNhanVien.html">Xóa nhân viên</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyNhanVien/TimNhanVien.html">Tìm kiếm nhân viên</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyNhanVien/ThongKeNhanVien.html">Thống kê nhân viên</a></li>
                </ul>
              </li>
              <li class="header__subnavListItem">
                <a class="header__subnavLink" href="../QuanLyLuong/QuanLyLuong.html">Quản lý lương</a>
                <ul class="header__subSubnav">
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyLuong/SuaLuong.html">Sửa lương</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyLuong/TimLuong.html">Tìm lương</a></li>
                </ul>
              </li>
              <li class="header__subnavListItem">
                <a class="header__subnavLink" href="../QuanLyTaiKhoan/QuanLyTaiKhoan.html">Quản lý tài khoản</a>
                <ul class="header__subSubnav">
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyTaiKhoan/ThemTaiKhoan.html">Thêm tài khoản</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyTaiKhoan/SuaTaiKhoan.html">Sửa tài khoản</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyTaiKhoan/XoaTaiKhoan.html">Xóa tài khoản</a></li>
                  <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                      href="../QuanLyTaiKhoan/TimTaiKhoan.html">Tìm tài khoản</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="header__navbarItem"><a href="../Help.html" class="header__navbarItemLink">Hỗ trợ</a></li>
          <li class="header__navbarItem"><a href="../Home.html" class="header__navbarItemLink">Trang chủ</a></li>
          <li class="header__navbarItem"><a href="../Profile.html" class="header__navbarItemLink"><img
                src="../../Assets/img/Poseidon Of Sea Logo.png" alt="avt nhân viên" class="header__navbarAvt"></a></li>
        </ul>
      </div>
    </div>

    <!-- container -->
    <div class="container">
      <div class="grid wide">
        <div class="wide row">
          <div class="col l-2 m-0 c-0 sidebar">
            <ul class="content__sidebarList">
              <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a href="QuanLyNhanVien.html"
                  class="content__sidebarLink">Quản lý nhân viên</a></li>
              <li class="content__sidebarItem"><a href="ThemNhanVien.html" class="content__sidebarLink">Thêm nhân
                  viên</a></li>
              <li class="content__sidebarItem"><a href="SuaNhanVien.html" class="content__sidebarLink">Sửa nhân viên</a>
              </li>
              <li class="content__sidebarItem"><a href="XoaNhanVien.html" class="content__sidebarLink">Xóa nhân viên</a>
              </li>
              <li class="content__sidebarItem"><a href="TimNhanVien.html" class="content__sidebarLink">Tìm nhân viên</a>
              </li>
              <li class="content__sidebarItem"><a href="ThongKeNhanVien.html" class="content__sidebarLink">Thống kê nhân
                  viên</a></li>
            </ul>
          </div>
          <div class="col l-10 m-12 c-12 content">
            <h1>Sửa thông tin nhân viên</h1>
            <div class="content__main">
              <div class="content__Search">
                <div class="content__SearchMethod">
                  <select name="lang" class="content__SearchMethodCBB">
                    <option value="">--Tìm kiếm theo--</option>
                    <option value="name">Họ và tên</option>
                    <option value="cccd">CCCD</option>
                    <option value="maNV">Mã nhân viên</option>
                  </select>
                </div>
                <div class="content__SearchBar">
                  <label for="content__SearchBarInput" class="content__SearchBarLabel">Nhập thông tin: </label>
                  <input class="content__SearchBarInput" id="content__SearchBarInput" spellcheck="false"
                    placeholder="VD: Nguyen A, MNV000001,...">
                  <button class="content__SearchBarBtn">Tìm Kiếm</button>
                </div>
              </div>
              <div class="content__MiniTableArea">
                <select name="lang" class="content__TableSort">
                  <option value="">--Sắp xếp theo--</option>
                  <option value="maNV">Mã nhân viên</option>
                  <option value="name">Họ và tên</option>
                  <option value="Ngày sinh">Ngày sinh</option>
                  <option value="Chức vụ">Chức vụ</option>
                  <option value="Mức lương cơ bản">Mức lương cơ bản</option>
                  <option value="cccd">CCCD</option>
                </select>
                <table class="content__MiniTable">
                  <thead>
                    <tr class="content__TableTitle">
                      <th class="content__TableTitle"></th>
                      <th class="content__TableTitle">Mã nhân viên</th>
                      <th class="content__TableTitle">Họ và tên</th>
                      <th class="content__TableTitle">Ngày sinh</th>
                      <th class="content__TableTitle">Giới tính</th>
                      <th class="content__TableTitle">CCCD</th>
                      <th class="content__TableTitle">Địa chỉ</th>
                      <th class="content__TableTitle">Số điện thoại</th>
                      <th class="content__TableTitle">Email</th>
                      <th class="content__TableTitle">Quê quán</th>
                      <th class="content__TableTitle">Tôn giáo</th>
                      <th class="content__TableTitle">Chức vụ</th>
                      <th class="content__TableTitle">Mức lương cơ bản</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <form id="AddUForm" class="content__Form" action="/addU" method="post">
                <div class="content__FormComponent" id="content__FormComponent--CANDEM">
                  <input class="content__FormInput" id="ten" type="text" placeholder="VD: Nguyễn Văn A"
                    name="TenNhanVien">
                </div>
                <div class="content__FormComponent">
                  <input type="date" class="content__FormInput" id="txtDate" min="1900-01-01" name="txtDate">
                </div>
                <div class="content__FormComponent">
                  <input class="content__FormInput" id="DiaChi" type="text"
                    placeholder="VD: 7 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội" name="DiaChi">
                </div>
                <div class="content__FormComponent">
                  <div class="content__FormSubContainer">
                    <label class="content__FormSubTitle" for="GioiTinhNam">Nam</label>
                    <input class="content__FormRadioBtn" id="GioiTinhNam" type="radio" value="Nam" name="gioitinh">
                    <label class="content__FormSubTitle" for="GioiTinhNu">Nữ</label>
                    <input class="content__FormRadioBtn" id="GioiTinhNu" type="radio" value="Nữ" name="gioitinh">
                  </div>
                </div>
                <div class="content__FormComponent">
                  <input class="content__FormInput" id="SoDienThoai" type="text" placeholder="VD: 0123456789"
                    name="SoDienThoai">
                </div>
                <div class="content__FormComponent">
                  <input class="content__FormInput" id="Email" type="text" placeholder="VD: abc@gmail.com" name="Email">
                </div>
                <div class="content__FormComponent">
                  <input class="content__FormInput" id="QueQuan" type="text" placeholder="VD: Hải Phòng" name="QueQuan">
                </div>
                <div class="content__FormComponent">
                  <input class="content__FormInput" id="CCCD/CMND" type="text" placeholder="VD: 031203307891"
                    name="CCCD/CMND">
                </div>
                <input class="col l-o-10 m-o-10 c-o-5 content__FormBtn" type="submit" value="Xác nhận">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">

    </div>

  </div>
</body>

</html>