<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../Assets/img/Poseidon Of Sea Logo.png" />
    <link rel="stylesheet" href="../../Assets/css/preset.css">
    <link rel="stylesheet" href="../../Assets/css/base.css">
    <link rel="stylesheet" href="../../Assets/css/grid.css">
    <link rel="stylesheet" href="../../Assets/css/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Thêm nhân viên</title>
</head>

<body>
    <div id="main">

        <!-- header -->
        <div class="header">
            <div class="header__logo">
                <a href="../Home.html"> <img src="../../Assets/img/Poseidon Of Sea Logo.png" alt="Logo công ty"
                        class="header__logoImg"></a>
            </div>
            <div class="header__navbar">
                <ul class="header__navbarList">
                    <li class="header__navbarItem"><a id="chucnang" class="header__navbarItemLink" href="">Chức năng
                            &nbsp<i class="ti-angle-down"></i> </a>
                        <i class="ti-angle-down"></i>
                        <ul class="header__subnav">
                            <li class="header__subnavListItem">
                                <a class="header__subnavLink" href="../QuanLyNhanVien/QuanLyNhanVien.html">Quản lý nhân
                                    viên</a>
                                <ul class="header__subSubnav">
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyNhanVien/ThemNhanVien.html">Thêm nhân viên</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyNhanVien/SuaNhanVien.html">Sửa nhân viên</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyNhanVien/XoaNhanVien.html">Xóa nhân viên</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyNhanVien/TimNhanVien.html">Tìm kiếm nhân viên</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyNhanVien/ThongKeNhanVien.html">Thống kê nhân viên</a></li>
                                </ul>
                            </li>
                            <li class="header__subnavListItem">
                                <a class="header__subnavLink" href="../QuanLyLuong/QuanLyLuong.html">Quản lý lương</a>
                                <ul class="header__subSubnav">
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyLuong/SuaLuong.html">Sửa lương</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyLuong/TimLuong.html">Tìm lương</a></li>
                                </ul>
                            </li>
                            <li class="header__subnavListItem">
                                <a class="header__subnavLink" href="../QuanLyTaiKhoan/QuanLyTaiKhoan.html">Quản lý tài
                                    khoản</a>
                                <ul class="header__subSubnav">
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyTaiKhoan/ThemTaiKhoan.html">Thêm tài khoản</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyTaiKhoan/SuaTaiKhoan.html">Sửa tài khoản</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyTaiKhoan/XoaTaiKhoan.html">Xóa tài khoản</a></li>
                                    <li class="header__subSubnavListItem"><a class="header__subSubnavLink"
                                            href="../QuanLyTaiKhoan/TimTaiKhoan.html">Tìm tài khoản</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="header__navbarItem"><a href="../Help.html" class="header__navbarItemLink">Hỗ trợ</a></li>
                    <li class="header__navbarItem"><a href="../Home.html" class="header__navbarItemLink">Trang chủ</a>
                    </li>
                    <li class="header__navbarItem"><a href="../Profile.html" class="header__navbarItemLink"><img
                                src="../../Assets/img/Poseidon Of Sea Logo.png" alt="avt nhân viên"
                                class="header__navbarAvt"></a></li>
                </ul>
            </div>
        </div>

        <!-- container -->
        <div class="container">
            <div class="grid wide">
                <div class="wide row">
                    <div class="col l-2 m-0 c-0 sidebar">
                        <ul class="content__sidebarList">
                            <li id="content__sidebarItem_CANDEM" class="content__sidebarItem"><a
                                    href="QuanLyNhanVien.html" class="content__sidebarLink">Quản lý nhân viên</a></li>
                            <li class="content__sidebarItem"><a href="ThemNhanVien.html"
                                    class="content__sidebarLink">Thêm nhân viên</a></li>
                            <li class="content__sidebarItem"><a href="SuaNhanVien.html" class="content__sidebarLink">Sửa
                                    nhân viên</a></li>
                            <li class="content__sidebarItem"><a href="XoaNhanVien.html" class="content__sidebarLink">Xóa
                                    nhân viên</a></li>
                            <li class="content__sidebarItem"><a href="TimNhanVien.html" class="content__sidebarLink">Tìm
                                    nhân viên</a></li>
                            <li class="content__sidebarItem"><a href="ThongKeNhanVien.html"
                                    class="content__sidebarLink">Thống kê nhân viên</a></li>
                        </ul>
                    </div>
                    <div class="col l-10 m-12 c-12 content">
                        <h1>Thêm nhân viên</h1>
                        <div class="content__main">
                            <form id="AddUForm" class="content__Form" action="/addU" method="post">
                                <div class="content__FormComponent" id="content__FormComponent--CANDEM">
                                    <label class="content__FormTitle" for="Ten">Nhập tên nhân viên: </label>
                                    <input class="content__FormInput" id="ten" type="text"
                                        placeholder="VD: Nguyễn Văn A" name="TenNhanVien">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="txtDate">Nhập ngày sinh: </label>
                                    <input type="date" class="content__FormInput" id="txtDate" min="1900-01-01" name="txtDate">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="DiaChi">Nhập địa chỉ: </label>
                                    <input class="content__FormInput" id="DiaChi" type="text"
                                        placeholder="VD: 7 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội" name="DiaChi">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle">Giới tính: </label>
                                    <div class="content__FormSubContainer">
                                        <label class="content__FormSubTitle" for="GioiTinhNam">Nam</label>
                                        <input class="content__FormRadioBtn" id="GioiTinhNam" type="radio" value="Nam" name="gioitinh">
                                        <label class="content__FormSubTitle" for="GioiTinhNu">Nữ</label>
                                        <input class="content__FormRadioBtn" id="GioiTinhNu" type="radio" value="Nữ" name="gioitinh">
                                    </div>
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="SoDienThoai">Nhập số điện thoại: </label>
                                    <input class="content__FormInput" id="SoDienThoai" type="text"
                                        placeholder="VD: 0123456789" name="SoDienThoai">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="Email">Nhập địa chỉ email: </label>
                                    <input class="content__FormInput" id="Email" type="text"
                                        placeholder="VD: abc@gmail.com" name="Email">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="QueQuan">Nhập quê quán: </label>
                                    <input class="content__FormInput" id="QueQuan" type="text"
                                        placeholder="VD: Hải Phòng" name="QueQuan">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="CCCD/CMND">Nhập số CCCD/CMND: </label>
                                    <input class="content__FormInput" id="CCCD/CMND" type="text"
                                        placeholder="VD: 031203307891" name="CCCD/CMND">
                                </div>
                                <div class="content__FormComponent">
                                    <label class="content__FormTitle" for="LuongCoBan">Nhập mức lương cơ bản: </label>
                                    <input class="content__FormInput" id="LuongCoBan" type="text"
                                        placeholder="VD: 7000000" name="LuongCoBan">
                                </div>
                                <input class="content__FormBtn" type="submit" value="Xác nhận">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">

        </div>

    </div>
</body>

</html>