<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../Assets/img/Poseidon Of Sea Logo.png"/>
    <link rel="stylesheet" href="../Assets/css/preset.css">
    <link rel="stylesheet" href="../Assets/css/base.css">
    <link rel="stylesheet" href="../Assets/css/grid.css">
    <link rel="stylesheet" href="../Assets/css/general.css">
    <link rel="stylesheet" href="../Assets/css/dangnhap.css">
    <script src="../Assets/js/togglePassword.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Đăng nhập</title>
    
</head>
<body>
    <div id="main">

        <!-- header -->
        <div class="header">
            <div class="header__logo">
                <a href="index.html"> <img src="../Assets/img/Poseidon Of Sea Logo.png" alt="Logo công ty" class="header__logoImg" ></a>
            </div>
            <div class="header__navbar">
                <ul class="header__navbarList">
                    <li class="header__navbarItem"><a href="index.html" class="header__navbarItemLink">Trang chủ</a></li>
                    <li class="header__navbarItem"><a href="DangNhap.html" class="header__navbarItemLink">Đăng nhập</a></li>
                </ul>
            </div>
        </div>

        <!-- container -->
        <div class="container">
            <div class="grid wide">
                <div class="wide row">
                    <div class="col l-10 l-o-1 m-12 c-12 content">                    
                        <div class="content__main">
                            <div class="col l-6 m-6 c-12 content_Login">
                                <div class=" content_LoginForm">
                                    <h1 style="text-align: center;">Đăng nhập</h1>
                                    <div class="content__LoginFormComponent">
                                        <input class="content__FormInput" id="account" type="text"
                                        placeholder="Nhập tài khoản" name="account">
                                    </div>
                                    <div class="content__LoginFormComponent">
                                        <input class="content__FormInput" id="password" type="password"
                                        placeholder="Nhập mật khẩu" name="password">
                                        <input type="checkbox" style="margin: 10px;" class="checkbox_chung" id="showPassword" onclick="togglePassword()">
                                    </div>
                                    <button class="content__FormLoginBtn">Đăng nhập</button>
                                </div>
                            </div>
                            <div class="col l-6 m-6 c-0 content__Logo">
                                <div class="content__IntroTitle">
                                    <h1>Web Quản Lý Của Công Ty POSEIDON OF SEA</h1>
                                    <h1>Xin Chào</h1>
                                    <h1>Đăng nhập vào hệ thống</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="footer">

        </div>

    </div>   
</body>
</html>